body{

		background-color: #f7f7f7;
}

.login{
	margin: 100px auto;

}
.intro-details{

	margin: 10px auto;
	width: 700pt;
	height: 450px;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0,0,0,0.25);
	display: flex;
	
	
}
.intro-boxintro{
	width: 50%;
	position: relative;	
	overflow: hidden;
	background-color: #ebfafa;
	height: 100%;
	text-align: center;
	
}
.intro{
	margin: 75pt 55pt;
}

.welcome{
	font-size: 40px;
}
.name{
	display: inline-flex;
}

.name h1{
	font-size: 80px;
}
.be{
	font-weight: 600;
}
.cool{
	font-weight: 600;
	color: #29a3a3;
}



.content-box{
	position: relative;
	overflow: hidden;
	margin: 35px auto;
	height: 100%;
	
}

.content{
	height: auto;
	display: grid;
	text-align: center;
	margin: 5px auto;
}

.content .text{
	margin-bottom: 5px;
	margin-top: 5px;
	color: #29a3a3;

}

.text h1{
	font-size: 50px;
}
.content .field{
	margin-top:10px;
	height: 45px;
	width: 70%;
	display: inline-flex;
	position: relative;

}

.field input{
	height: 100%;
	width: 100%;
	padding-left: 45px;
	font-size: 16px;
	outline: none;
	border: none;
	background:#ebfafa;
	border-radius: 25px;
}


.field span{
	position: absolute;
	width: 50px;
	line-height: 50px;
	color: #595959;

}
.field label{
	position: absolute;
	top: 50%;
	left: 45px;
	pointer-events: none;
	color: black;
	transform: translateY(-50%);


}


.forgot-pass{
	position: relative;
	margin: 10px 0 10px 5px;
}
.forgot-pass a{
	font-size: 16px;
	color: #3498db;
	text-decoration: none;

}
.forgot-pass:hover a{
	text-decoration: underline;

}
.lgnbtn{
	background-color: #29a3a3;
	border-radius: 25px;
	width: 70%;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 12px;
}

.createaccount{
	margin-top:5px;
	text-decoration: none;

}
.createaccount a{
	text-decoration: none;

}

p.text-danger{
	margin: 0 auto;
	width: 400px;
	background: #F2DEDE;
	border-radius: 25px;
	height: 25px;
}
p.text-success{

	
	margin: 0 auto;
	width: 400px;
	background: #bcf7cc;
	border-radius: 25px;
	height: 25px;
}
