body{

		background-color: #f7f7f7;
}
.text-danger{
	width: 500px;
	background: #F2DEDE;
	border-radius: 25px;
	height: 25px;
}
.text-success{
	width: 500px;
	background: #bcf7cc;
	border-radius: 25px;
	height: 25px;
}

#content{
	margin-top:100px;
}

.img-box{
	height: 100px;
	width: 100px;
}
.img-box img{
	display: block;
	height: 100%;
	width: 100%;
}
