body{
background-color: #f7f7f7;
}
.account{

	margin-top: 90px;
	margin-left: 280px;

}

.email{
	display: inline-flex;
	background: white;
	width: 600px;
	margin-top: 10px;
	height: auto;
	padding-bottom: 20px;
}


.icon{
	font-size: 40px;
	color: #6697A7;
	margin-right: 20px;
	margin-left: 20px;
}
.info{
	width: 570px;
	margin-top: 5px;
}

.info .label{
	font-size: 16px;
}
.info .text{
	font-size: 20px;
	font-weight: 500;
	display: inline-grid;
	margin-top: 5px;
}
.text input{
	width: 470px; 
	height: 40px;
	outline: none;
	border: none;
	background:#ebfafa;
	margin-bottom: 10px;

}

.text button{
	background-color: #29a3a3;
	border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 38px;
}
.text button:hover{

	background-color:#1d8080;
	border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 38px;
}

.password{

	display: inline-flex;
	background: white;
	width: 600px;
	margin-top: 10px;
	height: auto;
	padding-bottom: 20px;

}
.pass{
	display: inline-grid;
}
.pass input{
	width: 470px; 
	height: 40px;
	outline: none;
	border: none;
	background:#ebfafa;
	margin-top: 10px;
}
.pass button{
	background-color: #29a3a3;
	border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 38px;
    margin-top: 10px;
}
.pass button:hover{

	background-color:#1d8080;
	border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 38px;
}
.text-danger{
	margin-left: 150px;
	text-align: center;
	width: 300px;
	background: #F2DEDE;
	border-radius: 25px;
	height: 25px;
}
.text-success{
	margin-left: 150px;
	text-align: center;
	width: 300px;
	background: #bcf7cc;
	border-radius: 25px;
	height: 25px;
