body{
	background-color: #f7f7f7;
}
.updateaddress{
	margin-top: 100px;
}

.box{
	margin: 0 auto;
	height: 300px;
	width: 600px;
}
.title{
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}


.icon{
	font-size: 40px;
	color: #6697A7;
	margin-right: 20px;
	margin-left: 20px;
}


.acc-info{
	display: inline-flex;
	background: white;
	width: 600px;
	margin-top: 10px;
	height: 90px;
}
.acc-info .info{
	width: 570px;
	margin-top: 10px;
}

.info .label{
	font-size: 16px;
}
.info .text{
	font-size: 20px;
	font-weight: 500;

}
.text input{

	width: 450px; 
	height: 40px;
	outline: none;
	border: none;
	background:#ebfafa;
}
.savebtn{
	background: white;
	width: 600px;
	margin-top: 10px;
	height: 65px;
}

.savebtn .info{
	width: 570px;
	margin-top: 10px;
}

.info button{
	background-color: #29a3a3;
	width: 79%;
    border: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-left: 80px;
}
.info button:hover{
	background-color:#1d8080;
}